.container {
    display: -ms-flexbox;
    display: flex;
    min-height: 20%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
    /* width: 100%;
    margin: 0;
    padding: 0; */
}