.container {
    display: -ms-flexbox;
    display: flex;
    min-height: 20%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    /* padding-top: 50px;
    padding-bottom: 50px;
    width: 90%; */
    margin: 0;
    width: 100%;

    padding: 0;
    background-color:skyblue;
}