.header {
    background-color: #2c323c;
    background-image: url(/4de356f…/00972/assets/images/geometry.svg);
    background-repeat: repeat;
    color: #fff;
    min-height: 40px;
    /* min-height: 400px; */
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
}

.header h1 h2 {
    margin: auto;
    padding: 20px;
    /* margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-bottom: 30px; */
    font-size: 4rem;
}

article, aside, footer, header, nav, section {
    display: block;
}
