.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  width: 100%;
}

.game-space {
  margin-top: 6%;
  /* display: flex; */
  justify-content: center;
  flex-direction: row;

}

.container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar .center {
  display:inline-block;
    float: none;
    vertical-align: top;

}

.navbar {
  background: #5133a4;
  min-height: 40px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  background-color: skyblue;
  /* color: blue; */

  font-size: calc(10px + 8 * (100vw - 320px)/ 800);
  color: black;
  z-index: 99;
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;/*test*/
  padding: 0 auto;
}

nav {
  display: block;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 50px;
}

.navbar ul {
  margin: 0 auto;
  padding: 0;
}

.navbar li {
  /* display: inline-block; */
  margin: 0;
  padding: 0;
  /* width: 33.3%; */
  text-align: center;
}

.container {
  margin: 0;
  padding: 10px;
}

span .navbar-text {
  text-align: center;
  margin: 40px;
}

.navbar-text {
  text-align: center;
  font-weight: bold;
  margin: 0 20px;
  padding: 0;
}

.navbar-brand {
  text-align: left;
  position: left;
  font-size: x-large;
  font-weight: bold;
  color: navy
} 

button .clicked {
  background-color: yellow;
  color: red;
  font-weight: bold;
}

.btn-warning {
  color: red;
  font-weight: bold;
  background-color: #ffc107;
  border-color: #ffc107;
}